annotated-types==0.7.0
blinker==1.9.0
cached-property==1.5.2
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
fitfile==1.1.10
Flask==3.1.1
flask-cors==6.0.1
garmindb==3.6.4
garth==0.5.7
greenlet==3.2.3
idbutils==1.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.2
oauthlib==3.3.1
pandas==2.3.1
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
SQLAlchemy==2.0.40
tcxfile==1.0.4
tornado==6.5.1
tqdm==4.66.5
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
